#header {
    background-color: gray;
    display: flex;
  }
  
  #nav-bar {
   
  }
  
  #list {
    list-style-type: none;
    
  }
  
  .nav-link {
    display: inline;
    padding: 10px;
    flex-direction: row;
    
  }